In [1]:
import pandas as pd

import lightgbm as lgb

import category_encoders as ce

from sklearn import metrics

In [2]:
data = pd.read_csv('kickstarter.csv', parse_dates=['launched'])
data.head(3)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00

In [3]:
# data.info()

In [4]:
# Creating the outcome col
data = data.assign(outcome=(data['state'] == 'successful').astype(int))
# data.head(3)

In [5]:
data = data.assign(hour=data.launched.dt.hour,
                  day=data.launched.dt.day, 
                  month=data.launched.dt.month,
                  year=data.launched.dt.year)

# data.head(3)

In [6]:
cat_features = ['category', 'currency', 'country']

In [7]:
X = data[['goal', 'hour', 'day', 'month', 'year', 'outcome', 'category', 'currency', 'country']]
X.head(3)

      goal  hour  day  month  year  outcome        category currency country
0   1000.0    12   11      8  2015        0          Poetry      GBP      GB
1  30000.0     4    2      9  2017        0  Narrative Film      USD      US
2  45000.0     0   12      1  2013        0  Narrative Film      USD      US

In [8]:
valid_fraction = 0.1

valid_size = int(len(X) * valid_fraction)

train = X[:-2 * valid_size]

valid = X[-2 * valid_size: -valid_size]

test = X[-valid_size:]

In [9]:
train.shape

(302929, 9)

In [10]:
# Not including the validation and test sets
# They'll learn the encoding from the training

target_enc = ce.TargetEncoder(cols=cat_features)

target_enc.fit(train[cat_features], train['outcome'])

TargetEncoder(cols=['category', 'currency', 'country'], drop_invariant=False,
              handle_missing='value', handle_unknown='value',
              min_samples_leaf=1, return_df=True, smoothing=1.0, verbose=0)

In [11]:
encoded_train = train.join(target_enc.transform(train[cat_features]).add_suffix("_target"))
encoded_valid = valid.join(target_enc.transform(valid[cat_features]).add_suffix("_target"))
encoded_train.head()

,goal,hour,day,month,year,outcome,category,currency,country,category_target,currency_target,country_target
0,1000.0,12,11,8,2015,0,Poetry,GBP,GB,0.357815,0.354235,0.358672
1,30000.0,4,2,9,2017,0,Narrative Film,USD,US,0.383693,0.371210,0.374410
2,45000.0,0,12,1,2013,0,Narrative Film,USD,US,0.383693,0.371210,0.374410
3,5000.0,3,17,3,2012,0,Music,USD,US,0.410499,0.371210,0.374410
4,19500.0,8,4,7,2015,0,Film & Video,USD,US,0.300985,0.371210,0.374410

In [12]:
encoded_train.shape

(302929, 12)

In [13]:
feature_cols = encoded_train.columns.drop(['outcome', 'category', 'currency', 'country'])
feature_cols

Index(['goal', 'hour', 'day', 'month', 'year', 'category_target',
       'currency_target', 'country_target'],
      dtype='object')

In [14]:

dtrain = lgb.Dataset(encoded_train[feature_cols], label=encoded_train['outcome'])

dvalid = lgb.Dataset(encoded_valid[feature_cols], label=encoded_valid['outcome'])

param = {'num_leaves': 64, 'objective': 'binary'}
param['metric'] = 'auc'
num_round = 1000

In [15]:
bst = lgb.train(param, dtrain, num_round, valid_sets=[dvalid], early_stopping_rounds=5)

[LightGBM] [Info] Number of positive: 107352, number of negative: 195577
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.015047 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 532
[LightGBM] [Info] Number of data points in the train set: 302929, number of used features: 8
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.354380 -> initscore=-0.599841
[LightGBM] [Info] Start training from score -0.599841
[1]	valid_0's auc: 0.723061
Training until validation scores don't improve for 5 rounds
[2]	valid_0's auc: 0.7253
[3]	valid_0's auc: 0.726151
[4]	valid_0's auc: 0.727132
[5]	valid_0's auc: 0.728909
[6]	valid_0's auc: 0.730085
[7]	valid_0's auc: 0.730711
[8]	valid_0's auc: 0.731268
[9]	valid_0's auc: 0.731788
[10]	valid_0's auc: 0.732419
[11]	valid_0's auc: 0.733156
[12]	valid_0's auc: 0.733796
[13]	valid_0's auc: 0.734331
[14]	valid_0's auc: 0.734622
[15]	valid_0's auc: 0.735064
[16]	valid_0's auc: 0.735547
[17]	valid_0's auc: 0.735928
[18]	valid_0's auc: 0.736591
[19]	valid_0's auc: 0.736943
[20]	valid_0's auc: 0.737592
[21]	valid_0's auc: 0.73798
[22]	valid_0's auc: 0.738377
[23]	valid_0's auc: 0.738761
[24]	valid_0's auc: 0.739034
[25]	valid_0's auc: 0.739624
[26]	valid_0's auc: 0.740016
[27]	valid_0's auc: 0.740292
[28]	valid_0's auc: 0.740598
[29]	valid_0's auc: 0.740872
[30]	valid_0's auc: 0.741355
[31]	valid_0's auc: 0.741828
[32]	valid_0's auc: 0.742009
[33]	valid_0's auc: 0.742321
[34]	valid_0's auc: 0.742738
[35]	valid_0's auc: 0.74285
[36]	valid_0's auc: 0.743104
[37]	valid_0's auc: 0.743271
[38]	valid_0's auc: 0.743617
[39]	valid_0's auc: 0.743804
[40]	valid_0's auc: 0.743938
[41]	valid_0's auc: 0.744257
[42]	valid_0's auc: 0.744428
[43]	valid_0's auc: 0.744543
[44]	valid_0's auc: 0.744702
[45]	valid_0's auc: 0.744949
[46]	valid_0's auc: 0.745084
[47]	valid_0's auc: 0.74517
[48]	valid_0's auc: 0.745496
[49]	valid_0's auc: 0.745667
[50]	valid_0's auc: 0.745741
[51]	valid_0's auc: 0.745957
[52]	valid_0's auc: 0.746072
[53]	valid_0's auc: 0.746148
[54]	valid_0's auc: 0.746234
[55]	valid_0's auc: 0.746317
[56]	valid_0's auc: 0.746594
[57]	valid_0's auc: 0.746639
[58]	valid_0's auc: 0.746656
[59]	valid_0's auc: 0.746719
[60]	valid_0's auc: 0.746978
[61]	valid_0's auc: 0.747098
[62]	valid_0's auc: 0.747168
[63]	valid_0's auc: 0.747319
[64]	valid_0's auc: 0.747402
[65]	valid_0's auc: 0.747446
[66]	valid_0's auc: 0.74748
[67]	valid_0's auc: 0.747545
[68]	valid_0's auc: 0.747647
[69]	valid_0's auc: 0.747643
[70]	valid_0's auc: 0.747832
[71]	valid_0's auc: 0.747868
[72]	valid_0's auc: 0.747869
[73]	valid_0's auc: 0.747907
[74]	valid_0's auc: 0.747995
[75]	valid_0's auc: 0.748094
[76]	valid_0's auc: 0.748121
[77]	valid_0's auc: 0.748153
[78]	valid_0's auc: 0.748154
[79]	valid_0's auc: 0.748188
[80]	valid_0's auc: 0.748269
[81]	valid_0's auc: 0.748265
[82]	valid_0's auc: 0.748298
[83]	valid_0's auc: 0.74835
[84]	valid_0's auc: 0.748365
[85]	valid_0's auc: 0.748427
[86]	valid_0's auc: 0.748474
[87]	valid_0's auc: 0.748472
[88]	valid_0's auc: 0.74853
[89]	valid_0's auc: 0.748583
[90]	valid_0's auc: 0.748586
[91]	valid_0's auc: 0.748589
[92]	valid_0's auc: 0.748581
[93]	valid_0's auc: 0.748598
[94]	valid_0's auc: 0.748585
[95]	valid_0's auc: 0.748561
[96]	valid_0's auc: 0.748588
[97]	valid_0's auc: 0.748623
[98]	valid_0's auc: 0.748654
[99]	valid_0's auc: 0.74867
[100]	valid_0's auc: 0.748772
[101]	valid_0's auc: 0.748797
[102]	valid_0's auc: 0.748804
[103]	valid_0's auc: 0.748817
[104]	valid_0's auc: 0.748816
[105]	valid_0's auc: 0.748814
[106]	valid_0's auc: 0.748833
[107]	valid_0's auc: 0.748854
[108]	valid_0's auc: 0.748847
[109]	valid_0's auc: 0.748856
[110]	valid_0's auc: 0.748876
[111]	valid_0's auc: 0.748909
[112]	valid_0's auc: 0.748913
[113]	valid_0's auc: 0.748877
[114]	valid_0's auc: 0.748874
[115]	valid_0's auc: 0.748888
[116]	valid_0's auc: 0.748988
[117]	valid_0's auc: 0.74907
[118]	valid_0's auc: 0.749029
[119]	valid_0's auc: 0.748999
[120]	valid_0's auc: 0.748994
[121]	valid_0's auc: 0.749013
[122]	valid_0's auc: 0.749098
[123]	valid_0's auc: 0.749084
[124]	valid_0's auc: 0.749124
[125]	valid_0's auc: 0.749112
[126]	valid_0's auc: 0.749114
[127]	valid_0's auc: 0.749088
[128]	valid_0's auc: 0.74911
[129]	valid_0's auc: 0.74909
Early stopping, best iteration is:
[124]	valid_0's auc: 0.749124

In [16]:
cats = ['currency', 'country', 'category']
sub_train = train.drop(cats, axis=1)

sub_train.head(3)

      goal  hour  day  month  year  outcome
0   1000.0    12   11      8  2015        0
1  30000.0     4    2      9  2017        0
2  45000.0     0   12      1  2013        0

In [17]:
TE_train = sub_train.join(target_enc.transform(train[cats], train['outcome']).add_suffix('_target'))
TE_valid = sub_train.join(target_enc.transform(valid[cats], valid['outcome']).add_suffix('_target'))

TE_train.head(3)

,goal,hour,day,month,year,outcome,currency_target,country_target,category_target
0,1000.0,12,11,8,2015,0,0.354235,0.358672,0.357815
1,30000.0,4,2,9,2017,0,0.371210,0.374410,0.383693
2,45000.0,0,12,1,2013,0,0.371210,0.374410,0.383693

In [18]:
features = TE_train.columns.drop('outcome')
features

Index(['goal', 'hour', 'day', 'month', 'year', 'currency_target',
       'country_target', 'category_target'],
      dtype='object')

In [19]:
# dtrain = lgb.Dataset(TE_train[features], label=TE_train['outcome'])
# dvalid = lgb.Dataset(TE_valid[features], label=TE_valid['outcome'])

# param = {'num_leaves': 64, 'objective': 'binary'}
# param['metric'] = 'auc'
# num_round = 1000

# # bst = lgb.train(param, dtrain, num_round, valid_sets=[dvalid], early_stopping_rounds=5)

In [20]:
# def train_model(train, valid):
#     feature_cols = train.columns.drop('outcome')
    
#     dtrain = lgb.Dataset(train[feature_cols], label=train['outcome'])

#     dvalid = lgb.Dataset(valid[feature_cols], label=valid['outcome'])

#     param = {'num_leaves': 64, 'objective': 'binary'}
#     param['metric'] = 'auc'
#     num_round = 1000
#     bst = lgb.train(param, dtrain, num_round, valid_sets=[dvalid], early_stopping_rounds=5)
#     print(train.head())
#     print(f'Validation AUC Score: {bst.best_score}')

In [21]:
# train_model(TE_train, TE_valid)

In [22]:
# CatBoost Encoding...

targ_enc = ce.CatBoostEncoder(cols=cat_features)
targ_enc.fit(train[cat_features], train['outcome'])

# Transform the features, rename columns with _cb suffix, and join to dataframe
train_CBE = train.join(targ_enc.transform(train[cat_features]).add_suffix('_cb'))
valid_CBE = valid.join(targ_enc.transform(valid[cat_features]).add_suffix('_cb'))

train_CBE.head()

,goal,hour,day,month,year,outcome,category,currency,country,category_cb,currency_cb,country_cb
0,1000.0,12,11,8,2015,0,Poetry,GBP,GB,0.357812,0.354235,0.358672
1,30000.0,4,2,9,2017,0,Narrative Film,USD,US,0.383686,0.371210,0.374410
2,45000.0,0,12,1,2013,0,Narrative Film,USD,US,0.383686,0.371210,0.374410
3,5000.0,3,17,3,2012,0,Music,USD,US,0.410495,0.371210,0.374410
4,19500.0,8,4,7,2015,0,Film & Video,USD,US,0.300992,0.371210,0.374410

In [23]:
new_feats = train_CBE.columns.drop(['outcome', 'category', 'currency', 'country'])
new_feats

Index(['goal', 'hour', 'day', 'month', 'year', 'category_cb', 'currency_cb',
       'country_cb'],
      dtype='object')

In [24]:
dtrain = lgb.Dataset(train_CBE[new_feats], label=train_CBE['outcome'])
dvalid = lgb.Dataset(valid_CBE[new_feats], label=valid_CBE['outcome'])

param = {'num_leaves': 64, 'objective': 'binary'}
param['metric'] = 'auc'
num_round = 1000

bst = lgb.train(param, dtrain, num_round, valid_sets=[dvalid], early_stopping_rounds=5)

[LightGBM] [Info] Number of positive: 107352, number of negative: 195577
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.027409 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 532
[LightGBM] [Info] Number of data points in the train set: 302929, number of used features: 8
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.354380 -> initscore=-0.599841
[LightGBM] [Info] Start training from score -0.599841
[1]	valid_0's auc: 0.723061
Training until validation scores don't improve for 5 rounds
[2]	valid_0's auc: 0.725318
[3]	valid_0's auc: 0.726154
[4]	valid_0's auc: 0.727239
[5]	valid_0's auc: 0.729029
[6]	valid_0's auc: 0.730172
[7]	valid_0's auc: 0.730814
[8]	valid_0's auc: 0.731605
[9]	valid_0's auc: 0.732087
[10]	valid_0's auc: 0.732717
[11]	valid_0's auc: 0.733341
[12]	valid_0's auc: 0.733614
[13]	valid_0's auc: 0.734199
[14]	valid_0's auc: 0.734684
[15]	valid_0's auc: 0.735245
[16]	valid_0's auc: 0.735703
[17]	valid_0's auc: 0.736099
[18]	valid_0's auc: 0.736564
[19]	valid_0's auc: 0.73713
[20]	valid_0's auc: 0.737688
[21]	valid_0's auc: 0.737958
[22]	valid_0's auc: 0.738452
[23]	valid_0's auc: 0.738826
[24]	valid_0's auc: 0.739293
[25]	valid_0's auc: 0.739598
[26]	valid_0's auc: 0.739887
[27]	valid_0's auc: 0.74026
[28]	valid_0's auc: 0.740526
[29]	valid_0's auc: 0.740901
[30]	valid_0's auc: 0.741286
[31]	valid_0's auc: 0.741564
[32]	valid_0's auc: 0.741857
[33]	valid_0's auc: 0.742121
[34]	valid_0's auc: 0.74258
[35]	valid_0's auc: 0.742808
[36]	valid_0's auc: 0.743247
[37]	valid_0's auc: 0.743496
[38]	valid_0's auc: 0.743676
[39]	valid_0's auc: 0.743831
[40]	valid_0's auc: 0.744111
[41]	valid_0's auc: 0.744278
[42]	valid_0's auc: 0.744477
[43]	valid_0's auc: 0.744677
[44]	valid_0's auc: 0.744966
[45]	valid_0's auc: 0.745164
[46]	valid_0's auc: 0.745279
[47]	valid_0's auc: 0.745325
[48]	valid_0's auc: 0.745465
[49]	valid_0's auc: 0.745631
[50]	valid_0's auc: 0.745734
[51]	valid_0's auc: 0.745897
[52]	valid_0's auc: 0.745991
[53]	valid_0's auc: 0.746259
[54]	valid_0's auc: 0.746399
[55]	valid_0's auc: 0.746511
[56]	valid_0's auc: 0.746561
[57]	valid_0's auc: 0.746603
[58]	valid_0's auc: 0.746786
[59]	valid_0's auc: 0.746871
[60]	valid_0's auc: 0.746907
[61]	valid_0's auc: 0.747192
[62]	valid_0's auc: 0.747299
[63]	valid_0's auc: 0.747352
[64]	valid_0's auc: 0.747408
[65]	valid_0's auc: 0.747472
[66]	valid_0's auc: 0.747503
[67]	valid_0's auc: 0.747617
[68]	valid_0's auc: 0.74762
[69]	valid_0's auc: 0.747643
[70]	valid_0's auc: 0.747678
[71]	valid_0's auc: 0.747664
[72]	valid_0's auc: 0.747699
[73]	valid_0's auc: 0.747786
[74]	valid_0's auc: 0.747849
[75]	valid_0's auc: 0.747943
[76]	valid_0's auc: 0.747909
[77]	valid_0's auc: 0.747947
[78]	valid_0's auc: 0.747977
[79]	valid_0's auc: 0.747942
[80]	valid_0's auc: 0.747963
[81]	valid_0's auc: 0.748
[82]	valid_0's auc: 0.74815
[83]	valid_0's auc: 0.748197
[84]	valid_0's auc: 0.748172
[85]	valid_0's auc: 0.748199
[86]	valid_0's auc: 0.748196
[87]	valid_0's auc: 0.748397
[88]	valid_0's auc: 0.748463
[89]	valid_0's auc: 0.748459
[90]	valid_0's auc: 0.748479
[91]	valid_0's auc: 0.748566
[92]	valid_0's auc: 0.748633
[93]	valid_0's auc: 0.748665
[94]	valid_0's auc: 0.748685
[95]	valid_0's auc: 0.74868
[96]	valid_0's auc: 0.748699
[97]	valid_0's auc: 0.748751
[98]	valid_0's auc: 0.748717
[99]	valid_0's auc: 0.74872
[100]	valid_0's auc: 0.748816
[101]	valid_0's auc: 0.748858
[102]	valid_0's auc: 0.74899
[103]	valid_0's auc: 0.748993
[104]	valid_0's auc: 0.748969
[105]	valid_0's auc: 0.748933
[106]	valid_0's auc: 0.74895
[107]	valid_0's auc: 0.748948
[108]	valid_0's auc: 0.748989
Early stopping, best iteration is:
[103]	valid_0's auc: 0.748993