In [1]:
import pandas as pd
import numpy as np

import lightgbm as lgb
from sklearn.preprocessing import LabelEncoder
from sklearn import metrics

In [2]:
data = pd.read_csv('kickstarter.csv', parse_dates=['launched'])
data.head(3)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00

In [3]:
data = data.assign(hour=data.launched.dt.hour,
                  day=data.launched.dt.day,
                  month=data.launched.dt.month,
                  year=data.launched.dt.year)
data.shape

(378661, 19)

In [4]:
data = data.query("state != 'live'")
data.shape

(375862, 19)

In [5]:
data = data.assign(outcome=(data.state == 'successful').astype(int))
data.head(2)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,hour,day,month,year,outcome
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95,12,11,8,2015,0
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00,4,2,9,2017,0

In [6]:
cat_features = ['category', 'currency', 'country']

In [7]:
sub_1 = data[['hour', 'day', 'month', 'year', 'goal', 'outcome']]

In [8]:
encoder = LabelEncoder()

In [9]:
encoded = data[cat_features].apply(encoder.fit_transform)
encoded.head()

   category  currency  country
0       108         5        9
1        93        13       22
2        93        13       22
3        90        13       22
4        55        13       22

In [10]:
X = pd.concat([sub_1, encoded], axis=1)
X.head()

   hour  day  month  year     goal  outcome  category  currency  country
0    12   11      8  2015   1000.0        0       108         5        9
1     4    2      9  2017  30000.0        0        93        13       22
2     0   12      1  2013  45000.0        0        93        13       22
3     3   17      3  2012   5000.0        0        90        13       22
4     8    4      7  2015  19500.0        0        55        13       22

In [11]:
X.shape

(375862, 9)

In [12]:
valid_fraction = 0.1

valid_size = int(len(X) * valid_fraction)

train = X[: -2 * valid_size]

valid = X[-2 * valid_size : -valid_size]

test = X[-valid_size:]

In [13]:
train.shape

(300690, 9)

In [14]:
test.shape

(37586, 9)

In [15]:
features = train.columns.drop(['outcome'])
features

Index(['hour', 'day', 'month', 'year', 'goal', 'category', 'currency',
       'country'],
      dtype='object')

In [16]:
dtrain = lgb.Dataset(train[features], train['outcome'])
dvalid = lgb.Dataset(valid[features], valid['outcome'])

dtrain

In [17]:
param = {'num_leaves': 65, 'objective': 'binary', 'metrics': 'auc'}

num_rounds = 1000

In [18]:
model = lgb.train(param, dtrain, num_rounds, valid_sets=[dvalid], early_stopping_rounds=5)

[LightGBM] [Info] Number of positive: 107340, number of negative: 193350
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.011627 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 528
[LightGBM] [Info] Number of data points in the train set: 300690, number of used features: 8
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.356979 -> initscore=-0.588501
[LightGBM] [Info] Start training from score -0.588501
[1]	valid_0's auc: 0.694476
Training until validation scores don't improve for 5 rounds
[2]	valid_0's auc: 0.69772
[3]	valid_0's auc: 0.700705
[4]	valid_0's auc: 0.702191
[5]	valid_0's auc: 0.706432
[6]	valid_0's auc: 0.708326
[7]	valid_0's auc: 0.709922
[8]	valid_0's auc: 0.71056
[9]	valid_0's auc: 0.71211
[10]	valid_0's auc: 0.713593
[11]	valid_0's auc: 0.71438
[12]	valid_0's auc: 0.715205
[13]	valid_0's auc: 0.717576
[14]	valid_0's auc: 0.718702
[15]	valid_0's auc: 0.720318
[16]	valid_0's auc: 0.720954
[17]	valid_0's auc: 0.722016
[18]	valid_0's auc: 0.722747
[19]	valid_0's auc: 0.723986
[20]	valid_0's auc: 0.7244
[21]	valid_0's auc: 0.725672
[22]	valid_0's auc: 0.726729
[23]	valid_0's auc: 0.727178
[24]	valid_0's auc: 0.728083
[25]	valid_0's auc: 0.729567
[26]	valid_0's auc: 0.730164
[27]	valid_0's auc: 0.730646
[28]	valid_0's auc: 0.731512
[29]	valid_0's auc: 0.731805
[30]	valid_0's auc: 0.732109
[31]	valid_0's auc: 0.732888
[32]	valid_0's auc: 0.733098
[33]	valid_0's auc: 0.734099
[34]	valid_0's auc: 0.734572
[35]	valid_0's auc: 0.735475
[36]	valid_0's auc: 0.735752
[37]	valid_0's auc: 0.736042
[38]	valid_0's auc: 0.736505
[39]	valid_0's auc: 0.736622
[40]	valid_0's auc: 0.736921
[41]	valid_0's auc: 0.737646
[42]	valid_0's auc: 0.737739
[43]	valid_0's auc: 0.738001
[44]	valid_0's auc: 0.73823
[45]	valid_0's auc: 0.738342
[46]	valid_0's auc: 0.738522
[47]	valid_0's auc: 0.738826
[48]	valid_0's auc: 0.739155
[49]	valid_0's auc: 0.739598
[50]	valid_0's auc: 0.739718
[51]	valid_0's auc: 0.740372
[52]	valid_0's auc: 0.740658
[53]	valid_0's auc: 0.74078
[54]	valid_0's auc: 0.740931
[55]	valid_0's auc: 0.741005
[56]	valid_0's auc: 0.741032
[57]	valid_0's auc: 0.74122
[58]	valid_0's auc: 0.741468
[59]	valid_0's auc: 0.741615
[60]	valid_0's auc: 0.741764
[61]	valid_0's auc: 0.741899
[62]	valid_0's auc: 0.741932
[63]	valid_0's auc: 0.742133
[64]	valid_0's auc: 0.742344
[65]	valid_0's auc: 0.742453
[66]	valid_0's auc: 0.742503
[67]	valid_0's auc: 0.742605
[68]	valid_0's auc: 0.742637
[69]	valid_0's auc: 0.74275
[70]	valid_0's auc: 0.742779
[71]	valid_0's auc: 0.742803
[72]	valid_0's auc: 0.742873
[73]	valid_0's auc: 0.74291
[74]	valid_0's auc: 0.743104
[75]	valid_0's auc: 0.743193
[76]	valid_0's auc: 0.743204
[77]	valid_0's auc: 0.743192
[78]	valid_0's auc: 0.743205
[79]	valid_0's auc: 0.743256
[80]	valid_0's auc: 0.743294
[81]	valid_0's auc: 0.743328
[82]	valid_0's auc: 0.743384
[83]	valid_0's auc: 0.743846
[84]	valid_0's auc: 0.743873
[85]	valid_0's auc: 0.743877
[86]	valid_0's auc: 0.744062
[87]	valid_0's auc: 0.744056
[88]	valid_0's auc: 0.744108
[89]	valid_0's auc: 0.744233
[90]	valid_0's auc: 0.744267
[91]	valid_0's auc: 0.74428
[92]	valid_0's auc: 0.74429
[93]	valid_0's auc: 0.744393
[94]	valid_0's auc: 0.744434
[95]	valid_0's auc: 0.744457
[96]	valid_0's auc: 0.744448
[97]	valid_0's auc: 0.744502
[98]	valid_0's auc: 0.744615
[99]	valid_0's auc: 0.744631
[100]	valid_0's auc: 0.744673
[101]	valid_0's auc: 0.744755
[102]	valid_0's auc: 0.744741
[103]	valid_0's auc: 0.744793
[104]	valid_0's auc: 0.74478
[105]	valid_0's auc: 0.744816
[106]	valid_0's auc: 0.744788
[107]	valid_0's auc: 0.744774
[108]	valid_0's auc: 0.744774
[109]	valid_0's auc: 0.74476
[110]	valid_0's auc: 0.74483
[111]	valid_0's auc: 0.745079
[112]	valid_0's auc: 0.745114
[113]	valid_0's auc: 0.745101
[114]	valid_0's auc: 0.745081
[115]	valid_0's auc: 0.745119
[116]	valid_0's auc: 0.745104
[117]	valid_0's auc: 0.745166
[118]	valid_0's auc: 0.745155
[119]	valid_0's auc: 0.745141
[120]	valid_0's auc: 0.745184
[121]	valid_0's auc: 0.745194
[122]	valid_0's auc: 0.745172
[123]	valid_0's auc: 0.745218
[124]	valid_0's auc: 0.745275
[125]	valid_0's auc: 0.745311
[126]	valid_0's auc: 0.745329
[127]	valid_0's auc: 0.745371
[128]	valid_0's auc: 0.745449
[129]	valid_0's auc: 0.745453
[130]	valid_0's auc: 0.745424
[131]	valid_0's auc: 0.745436
[132]	valid_0's auc: 0.745458
[133]	valid_0's auc: 0.745503
[134]	valid_0's auc: 0.745493
[135]	valid_0's auc: 0.745523
[136]	valid_0's auc: 0.745575
[137]	valid_0's auc: 0.745654
[138]	valid_0's auc: 0.745673
[139]	valid_0's auc: 0.745665
[140]	valid_0's auc: 0.745646
[141]	valid_0's auc: 0.745687
[142]	valid_0's auc: 0.745664
[143]	valid_0's auc: 0.745851
[144]	valid_0's auc: 0.745885
[145]	valid_0's auc: 0.745874
[146]	valid_0's auc: 0.745997
[147]	valid_0's auc: 0.746057
[148]	valid_0's auc: 0.746039
[149]	valid_0's auc: 0.74601
[150]	valid_0's auc: 0.746027
[151]	valid_0's auc: 0.746021
[152]	valid_0's auc: 0.746047
Early stopping, best iteration is:
[147]	valid_0's auc: 0.746057

In [19]:
preds = model.predict(test[features])
score = metrics.roc_auc_score(test['outcome'], preds)
score

0.7464868776890301