In [1]:
import numpy as np
import pandas as pd

import lightgbm as lgb
import category_encoders as ce
from sklearn import metrics

In [2]:
data = pd.read_csv('kickstarter.csv', parse_dates=['launched'])
data.head(2)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00

In [3]:
data = data.query("state != 'live'")

In [4]:
data = data.assign(outcome=(data.state == 'successful').astype(int))
data = data.assign(hour=data.launched.dt.hour,
                  day=data.launched.dt.day,
                  month=data.launched.dt.month,
                  year=data.launched.dt.year)
data.head(2)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,outcome,hour,day,month,year
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95,0,12,11,8,2015
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00,0,4,2,9,2017

In [5]:
num_X = data[['hour', 'day', 'month', 'year', 'goal', 'outcome']]
num_X.head(3)

   hour  day  month  year     goal  outcome
0    12   11      8  2015   1000.0        0
1     4    2      9  2017  30000.0        0
2     0   12      1  2013  45000.0        0

In [6]:
cat_features = ['category', 'currency', 'country']

In [7]:
X = num_X.join(data[cat_features])
X.head(2)

   hour  day  month  year     goal  outcome        category currency country
0    12   11      8  2015   1000.0        0          Poetry      GBP      GB
1     4    2      9  2017  30000.0        0  Narrative Film      USD      US

In [8]:
valid_fraction = 0.1
valid_size = int(len(X)*valid_fraction)

train = X[: -2 * valid_size]
valid = X[-2 * valid_size : -valid_size]
test = X[-valid_size:]
train.shape

(300690, 9)

In [9]:
encoder = ce.CatBoostEncoder(cols=cat_features)

In [10]:
encoder.fit(train[cat_features], train['outcome'])

CatBoostEncoder(a=1, cols=['category', 'currency', 'country'],
                drop_invariant=False, handle_missing='value',
                handle_unknown='value', random_state=None, return_df=True,
                sigma=None, verbose=0)

In [11]:
encoded_tr = train.join(encoder.transform(train[cat_features]).add_suffix('_catboost'))
encoded_va = valid.join(encoder.transform(valid[cat_features]).add_suffix('_catboost'))
encoded_te = test.join(encoder.transform(test[cat_features]).add_suffix('_catboost'))

encoded_tr.head(2)

,hour,day,month,year,goal,outcome,category,currency,country,category_catboost,currency_catboost,country_catboost
0,12,11,8,2015,1000.0,0,Poetry,GBP,GB,0.360187,0.357122,0.361636
1,4,2,9,2017,30000.0,0,Narrative Film,USD,US,0.384609,0.373392,0.376631

In [12]:
features = encoded_tr.columns.drop(['outcome', 'category', 'currency', 'country'])
features

Index(['hour', 'day', 'month', 'year', 'goal', 'category_catboost',
       'currency_catboost', 'country_catboost'],
      dtype='object')

In [13]:
param = {'num_leaves': 65, 'objective': 'binary', 'metric': 'auc'}
num_rounds = 1000

In [14]:
dtrain = lgb.Dataset(encoded_tr[features], encoded_tr['outcome'])
dvalid = lgb.Dataset(encoded_va[features], encoded_va['outcome'])

In [15]:
model = lgb.train(param, dtrain, num_rounds, valid_sets=[dvalid], early_stopping_rounds=5)

[LightGBM] [Info] Number of positive: 107340, number of negative: 193350
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.027761 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 531
[LightGBM] [Info] Number of data points in the train set: 300690, number of used features: 8
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.356979 -> initscore=-0.588501
[LightGBM] [Info] Start training from score -0.588501
[1]	valid_0's auc: 0.723307
Training until validation scores don't improve for 5 rounds
[2]	valid_0's auc: 0.724934
[3]	valid_0's auc: 0.726201
[4]	valid_0's auc: 0.727114
[5]	valid_0's auc: 0.729399
[6]	valid_0's auc: 0.730438
[7]	valid_0's auc: 0.73091
[8]	valid_0's auc: 0.731443
[9]	valid_0's auc: 0.731882
[10]	valid_0's auc: 0.732392
[11]	valid_0's auc: 0.732735
[12]	valid_0's auc: 0.733353
[13]	valid_0's auc: 0.733801
[14]	valid_0's auc: 0.733984
[15]	valid_0's auc: 0.734442
[16]	valid_0's auc: 0.73488
[17]	valid_0's auc: 0.735326
[18]	valid_0's auc: 0.735665
[19]	valid_0's auc: 0.736064
[20]	valid_0's auc: 0.736432
[21]	valid_0's auc: 0.736898
[22]	valid_0's auc: 0.737235
[23]	valid_0's auc: 0.737455
[24]	valid_0's auc: 0.737801
[25]	valid_0's auc: 0.738011
[26]	valid_0's auc: 0.7383
[27]	valid_0's auc: 0.738579
[28]	valid_0's auc: 0.738833
[29]	valid_0's auc: 0.739137
[30]	valid_0's auc: 0.739275
[31]	valid_0's auc: 0.739454
[32]	valid_0's auc: 0.739949
[33]	valid_0's auc: 0.74031
[34]	valid_0's auc: 0.740618
[35]	valid_0's auc: 0.740832
[36]	valid_0's auc: 0.741071
[37]	valid_0's auc: 0.741226
[38]	valid_0's auc: 0.741326
[39]	valid_0's auc: 0.741644
[40]	valid_0's auc: 0.741825
[41]	valid_0's auc: 0.742102
[42]	valid_0's auc: 0.742215
[43]	valid_0's auc: 0.742325
[44]	valid_0's auc: 0.742607
[45]	valid_0's auc: 0.742798
[46]	valid_0's auc: 0.742908
[47]	valid_0's auc: 0.74299
[48]	valid_0's auc: 0.743184
[49]	valid_0's auc: 0.743286
[50]	valid_0's auc: 0.743539
[51]	valid_0's auc: 0.743688
[52]	valid_0's auc: 0.743799
[53]	valid_0's auc: 0.743925
[54]	valid_0's auc: 0.744054
[55]	valid_0's auc: 0.744155
[56]	valid_0's auc: 0.744215
[57]	valid_0's auc: 0.744506
[58]	valid_0's auc: 0.744546
[59]	valid_0's auc: 0.744627
[60]	valid_0's auc: 0.744697
[61]	valid_0's auc: 0.744704
[62]	valid_0's auc: 0.744776
[63]	valid_0's auc: 0.744875
[64]	valid_0's auc: 0.745043
[65]	valid_0's auc: 0.745183
[66]	valid_0's auc: 0.745214
[67]	valid_0's auc: 0.745244
[68]	valid_0's auc: 0.745337
[69]	valid_0's auc: 0.745387
[70]	valid_0's auc: 0.745395
[71]	valid_0's auc: 0.74542
[72]	valid_0's auc: 0.745454
[73]	valid_0's auc: 0.745428
[74]	valid_0's auc: 0.745444
[75]	valid_0's auc: 0.7454
[76]	valid_0's auc: 0.745452
[77]	valid_0's auc: 0.745496
[78]	valid_0's auc: 0.745529
[79]	valid_0's auc: 0.745614
[80]	valid_0's auc: 0.745634
[81]	valid_0's auc: 0.745674
[82]	valid_0's auc: 0.745839
[83]	valid_0's auc: 0.745855
[84]	valid_0's auc: 0.745861
[85]	valid_0's auc: 0.745933
[86]	valid_0's auc: 0.745936
[87]	valid_0's auc: 0.745968
[88]	valid_0's auc: 0.745987
[89]	valid_0's auc: 0.745998
[90]	valid_0's auc: 0.746014
[91]	valid_0's auc: 0.74607
[92]	valid_0's auc: 0.746221
[93]	valid_0's auc: 0.746252
[94]	valid_0's auc: 0.746261
[95]	valid_0's auc: 0.74627
[96]	valid_0's auc: 0.746283
[97]	valid_0's auc: 0.74628
[98]	valid_0's auc: 0.746302
[99]	valid_0's auc: 0.746413
[100]	valid_0's auc: 0.746614
[101]	valid_0's auc: 0.746636
[102]	valid_0's auc: 0.746614
[103]	valid_0's auc: 0.746585
[104]	valid_0's auc: 0.74658
[105]	valid_0's auc: 0.746547
[106]	valid_0's auc: 0.746627
Early stopping, best iteration is:
[101]	valid_0's auc: 0.746636

In [16]:
preds = model.predict(encoded_te[features])
score = metrics.roc_auc_score(encoded_te['outcome'], preds)
score

0.7460185532865766