In [1]:
import pandas as pd
import numpy as np

import category_encoders as ce
import lightgbm as lgb
from sklearn import metrics

In [2]:
data = pd.read_csv('kickstarter.csv', parse_dates=['launched'])

In [3]:
data = data.assign(outcome=(data.state == 'successful').astype(int))
data.head(2)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,outcome
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95,0
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00,0

In [4]:
data.shape

(378661, 16)

In [5]:
data = data.query("state != 'live'")
data.shape

(375862, 16)

In [6]:
data = data.assign(hour=data.launched.dt.hour,
                  day=data.launched.dt.day,
                  month=data.launched.dt.month,
                  year=data.launched.dt.year)
data.shape

(375862, 20)

In [7]:
cat_features = ['category', 'currency', 'country']

In [8]:
encoder = ce.CountEncoder()

In [9]:
num_X = data[['hour', 'day', 'month', 'year', 'goal', 'outcome']]

In [10]:
encoded = encoder.fit_transform(data[cat_features])
encoded.head()

   category  currency  country
0      1362     33853    33393
1      5174    293624   290887
2      5174    293624   290887
3     15647    293624   290887
4     10054    293624   290887

In [11]:
X = num_X.join(encoded.add_suffix('_count'))

X.head()

,hour,day,month,year,goal,outcome,category_count,currency_count,country_count
0,12,11,8,2015,1000.0,0,1362,33853,33393
1,4,2,9,2017,30000.0,0,5174,293624,290887
2,0,12,1,2013,45000.0,0,5174,293624,290887
3,3,17,3,2012,5000.0,0,15647,293624,290887
4,8,4,7,2015,19500.0,0,10054,293624,290887

In [12]:
valid_fraction = 0.1
valid_size = int(len(X) * valid_fraction)

train = X[: -2* valid_size]
valid = X[-2*valid_size: -valid_size]
test = X[-valid_size:]
test.shape

(37586, 9)

In [13]:
param = {'num_leaves': 65, 'objective': 'binary', 'metrics': 'auc'}
num_rounds = 1000

In [14]:
features = train.columns.drop(['outcome'])

In [15]:
dtrain = lgb.Dataset(train[features], train['outcome'])
dvalid = lgb.Dataset(valid[features], valid['outcome'])

In [16]:
model = lgb.train(param, dtrain, num_rounds, valid_sets=[dvalid], early_stopping_rounds=5)

[LightGBM] [Info] Number of positive: 107340, number of negative: 193350
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.024843 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 526
[LightGBM] [Info] Number of data points in the train set: 300690, number of used features: 8
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.356979 -> initscore=-0.588501
[LightGBM] [Info] Start training from score -0.588501
[1]	valid_0's auc: 0.692744
Training until validation scores don't improve for 5 rounds
[2]	valid_0's auc: 0.695987
[3]	valid_0's auc: 0.702229
[4]	valid_0's auc: 0.704395
[5]	valid_0's auc: 0.706554
[6]	valid_0's auc: 0.708559
[7]	valid_0's auc: 0.711188
[8]	valid_0's auc: 0.712724
[9]	valid_0's auc: 0.714062
[10]	valid_0's auc: 0.715033
[11]	valid_0's auc: 0.715866
[12]	valid_0's auc: 0.716983
[13]	valid_0's auc: 0.717887
[14]	valid_0's auc: 0.718854
[15]	valid_0's auc: 0.719398
[16]	valid_0's auc: 0.72024
[17]	valid_0's auc: 0.721627
[18]	valid_0's auc: 0.72202
[19]	valid_0's auc: 0.722583
[20]	valid_0's auc: 0.723221
[21]	valid_0's auc: 0.724029
[22]	valid_0's auc: 0.725614
[23]	valid_0's auc: 0.726223
[24]	valid_0's auc: 0.727785
[25]	valid_0's auc: 0.728403
[26]	valid_0's auc: 0.729135
[27]	valid_0's auc: 0.73037
[28]	valid_0's auc: 0.730728
[29]	valid_0's auc: 0.731219
[30]	valid_0's auc: 0.731988
[31]	valid_0's auc: 0.732527
[32]	valid_0's auc: 0.732788
[33]	valid_0's auc: 0.734282
[34]	valid_0's auc: 0.734707
[35]	valid_0's auc: 0.735127
[36]	valid_0's auc: 0.735289
[37]	valid_0's auc: 0.736425
[38]	valid_0's auc: 0.736669
[39]	valid_0's auc: 0.736807
[40]	valid_0's auc: 0.73711
[41]	valid_0's auc: 0.737913
[42]	valid_0's auc: 0.738058
[43]	valid_0's auc: 0.738353
[44]	valid_0's auc: 0.739028
[45]	valid_0's auc: 0.739195
[46]	valid_0's auc: 0.739843
[47]	valid_0's auc: 0.739911
[48]	valid_0's auc: 0.740098
[49]	valid_0's auc: 0.740675
[50]	valid_0's auc: 0.740849
[51]	valid_0's auc: 0.740989
[52]	valid_0's auc: 0.741271
[53]	valid_0's auc: 0.74134
[54]	valid_0's auc: 0.741826
[55]	valid_0's auc: 0.741976
[56]	valid_0's auc: 0.742198
[57]	valid_0's auc: 0.742358
[58]	valid_0's auc: 0.742456
[59]	valid_0's auc: 0.742543
[60]	valid_0's auc: 0.742571
[61]	valid_0's auc: 0.742884
[62]	valid_0's auc: 0.743259
[63]	valid_0's auc: 0.743358
[64]	valid_0's auc: 0.743433
[65]	valid_0's auc: 0.743693
[66]	valid_0's auc: 0.743728
[67]	valid_0's auc: 0.744017
[68]	valid_0's auc: 0.744116
[69]	valid_0's auc: 0.744235
[70]	valid_0's auc: 0.744318
[71]	valid_0's auc: 0.74437
[72]	valid_0's auc: 0.744473
[73]	valid_0's auc: 0.744765
[74]	valid_0's auc: 0.744799
[75]	valid_0's auc: 0.744834
[76]	valid_0's auc: 0.744988
[77]	valid_0's auc: 0.745009
[78]	valid_0's auc: 0.745023
[79]	valid_0's auc: 0.74524
[80]	valid_0's auc: 0.745267
[81]	valid_0's auc: 0.745333
[82]	valid_0's auc: 0.745387
[83]	valid_0's auc: 0.745396
[84]	valid_0's auc: 0.745415
[85]	valid_0's auc: 0.745446
[86]	valid_0's auc: 0.745486
[87]	valid_0's auc: 0.745521
[88]	valid_0's auc: 0.745745
[89]	valid_0's auc: 0.745797
[90]	valid_0's auc: 0.745804
[91]	valid_0's auc: 0.745844
[92]	valid_0's auc: 0.745891
[93]	valid_0's auc: 0.745926
[94]	valid_0's auc: 0.74596
[95]	valid_0's auc: 0.745983
[96]	valid_0's auc: 0.746024
[97]	valid_0's auc: 0.746103
[98]	valid_0's auc: 0.746212
[99]	valid_0's auc: 0.746187
[100]	valid_0's auc: 0.746364
[101]	valid_0's auc: 0.746379
[102]	valid_0's auc: 0.746413
[103]	valid_0's auc: 0.746432
[104]	valid_0's auc: 0.746413
[105]	valid_0's auc: 0.746411
[106]	valid_0's auc: 0.74652
[107]	valid_0's auc: 0.746521
[108]	valid_0's auc: 0.746543
[109]	valid_0's auc: 0.746579
[110]	valid_0's auc: 0.746554
[111]	valid_0's auc: 0.746618
[112]	valid_0's auc: 0.746614
[113]	valid_0's auc: 0.746563
[114]	valid_0's auc: 0.746596
[115]	valid_0's auc: 0.746759
[116]	valid_0's auc: 0.746757
[117]	valid_0's auc: 0.746766
[118]	valid_0's auc: 0.746785
[119]	valid_0's auc: 0.746763
[120]	valid_0's auc: 0.746788
[121]	valid_0's auc: 0.746833
[122]	valid_0's auc: 0.746875
[123]	valid_0's auc: 0.746901
[124]	valid_0's auc: 0.746888
[125]	valid_0's auc: 0.746869
[126]	valid_0's auc: 0.746914
[127]	valid_0's auc: 0.746919
[128]	valid_0's auc: 0.74695
[129]	valid_0's auc: 0.746949
[130]	valid_0's auc: 0.746945
[131]	valid_0's auc: 0.746972
[132]	valid_0's auc: 0.74697
[133]	valid_0's auc: 0.747049
[134]	valid_0's auc: 0.747101
[135]	valid_0's auc: 0.747097
[136]	valid_0's auc: 0.747126
[137]	valid_0's auc: 0.747206
[138]	valid_0's auc: 0.747197
[139]	valid_0's auc: 0.747168
[140]	valid_0's auc: 0.747238
[141]	valid_0's auc: 0.747278
[142]	valid_0's auc: 0.747283
[143]	valid_0's auc: 0.747284
[144]	valid_0's auc: 0.747292
[145]	valid_0's auc: 0.747299
[146]	valid_0's auc: 0.747332
[147]	valid_0's auc: 0.747333
[148]	valid_0's auc: 0.747333
[149]	valid_0's auc: 0.747322
[150]	valid_0's auc: 0.747304
[151]	valid_0's auc: 0.747301
[152]	valid_0's auc: 0.747299
[153]	valid_0's auc: 0.747361
[154]	valid_0's auc: 0.747357
[155]	valid_0's auc: 0.747349
[156]	valid_0's auc: 0.747304
[157]	valid_0's auc: 0.747287
[158]	valid_0's auc: 0.747256
Early stopping, best iteration is:
[153]	valid_0's auc: 0.747361

In [17]:
preds = model.predict(test[features])
score = metrics.roc_auc_score(test['outcome'], preds)
score

0.7474402428057598